body {
  font-family: verdana;
  text-align: center;
  background-color: black;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

.link {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: gray;
}

.right {
  text-align: right;
}
